## Importacion de librerias

In [108]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Exploramos el df

In [109]:
#Leemos el archivo games.csv
df = pd.read_csv("games.csv")

#Exploramos informaci√≥n general del df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

## Preparacion de datos

In [110]:
#Verificamos si hay valores duplicados
datos_duplicados = df.duplicated().sum()
print(datos_duplicados)

0

In [111]:
#Verificamos si hay valores nulos
datos_nulos = df.isna().sum()
print(datos_nulos)

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
NA_sales              0
EU_sales              0
JP_sales              0
Other_sales           0
Critic_Score       8578
User_Score         6701
Rating             6766
dtype: int64

In [112]:
#Convertimos las columnas en minuscula
df.columns = df.columns.str.lower()
print(df.columns)

Index(['name', 'platform', 'year_of_release', 'genre', 'na_sales', 'eu_sales',
       'jp_sales', 'other_sales', 'critic_score', 'user_score', 'rating'],
      dtype='object')

#### Trabajemos los valores de cada columna

En la columna name

In [113]:
#Rellenamos los valores ausentes
df["name"] = df["name"].fillna("nombres_desconocidos")

En la columna year_of_release

In [114]:
#revisamos valores ausentes y convertimos a valor entero
df["year_of_release"] = df["year_of_release"].fillna(0).astype(int)

En la columna genre

In [115]:

#Rellenamos los valores ausentes
df["genre"].fillna("genero_desconocido",inplace=True)

#Visualizamos los valores unicos en genre para verificar el reemplazo
print(df["genre"].unique())

['Sports' 'Platform' 'Racing' 'Role-Playing' 'Puzzle' 'Misc' 'Shooter'
 'Simulation' 'Action' 'Fighting' 'Adventure' 'Strategy'
 'genero_desconocido']

/tmp/ipykernel_6345/87935869.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["genre"].fillna("genero_desconocido",inplace=True)

Trabajemos en las columnas critic_score, user_score y rating

In [116]:
#Rellenamos los valores ausentes en la columna critic_score
df["critic_score"].replace(0, np.nan, inplace=True)

/tmp/ipykernel_6345/47039780.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["critic_score"].replace(0, np.nan, inplace=True)

In [117]:

#Rellenamos los valores ausentes en la columna user_score
df["user_score"].replace("tbd",np.nan,inplace=True)

#Visualizamos valores unicos en la columna user_score
print(df["user_score"].unique())

['8' nan '8.3' '8.5' '6.6' '8.4' '8.6' '7.7' '6.3' '7.4' '8.2' '9' '7.9'
 '8.1' '8.7' '7.1' '3.4' '5.3' '4.8' '3.2' '8.9' '6.4' '7.8' '7.5' '2.6'
 '7.2' '9.2' '7' '7.3' '4.3' '7.6' '5.7' '5' '9.1' '6.5' '8.8' '6.9' '9.4'
 '6.8' '6.1' '6.7' '5.4' '4' '4.9' '4.5' '9.3' '6.2' '4.2' '6' '3.7' '4.1'
 '5.8' '5.6' '5.5' '4.4' '4.6' '5.9' '3.9' '3.1' '2.9' '5.2' '3.3' '4.7'
 '5.1' '3.5' '2.5' '1.9' '3' '2.7' '2.2' '2' '9.5' '2.1' '3.6' '2.8' '1.8'
 '3.8' '0' '1.6' '9.6' '2.4' '1.7' '1.1' '0.3' '1.5' '0.7' '1.2' '2.3'
 '0.5' '1.3' '0.2' '0.6' '1.4' '0.9' '1' '9.7']

/tmp/ipykernel_6345/1485019928.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["user_score"].replace("tbd",np.nan,inplace=True)

In [118]:
#convertimos los valores de la columna "user_score" a flotantes
df["user_score"] = df["user_score"].astype("float")

In [119]:
#Visualizamos valores unicos en la columna rating
print(df["rating"].unique())

#Reemplazamos valores ausentes NaN en la colimna rating
df["rating"].fillna("rating_desconocido",inplace=True)

['E' nan 'M' 'T' 'E10+' 'K-A' 'AO' 'EC' 'RP']

/tmp/ipykernel_6345/4232523195.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["rating"].fillna("rating_desconocido",inplace=True)

Imprimimos la informacion general del df para confirmar los cambios correctos

In [120]:
df.info()
datos_nulos = df.isna().sum()
print()
print(datos_nulos)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16715 non-null  object
 1   platform         16715 non-null  object
 2   year_of_release  16715 non-null  int64
 3   genre            16715 non-null  object
 4   na_sales         16715 non-null  float64
 5   eu_sales         16715 non-null  float64
 6   jp_sales         16715 non-null  float64
 7   other_sales      16715 non-null  float64
 8   critic_score     8137 non-null   float64
 9   user_score       7590 non-null   float64
 10  rating           16715 non-null  object
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

name                  0
platform              0
year_of_release       0
genre                 0
na_sales              0
eu_sales              0
jp_sales              0
other_sales           0
critic_score       8578
user_score         9125
rating                0
dtype: int64

## An√°lisis de datos

 ### Juegos lanzados por a√±os

In [152]:
#agrupamos los juegos lanzados por a√±o
juegos_lanzados_por_a√±o = df.groupby("year_of_release")["name"].count().reset_index()

#Renombramos las columnas necesarias
juegos_lanzados_por_a√±o.rename(columns={'name': 'numero_juegos_por_a√±o',"year_of_release":"a√±o_lanzamiento"}, inplace=True)

#Eliminamos los juegos que no tienen informacion de lanzamiento.
juegos_lanzados_por_a√±o.query("a√±o_lanzamiento !=0",inplace=True)

print(juegos_lanzados_por_a√±o)

    a√±o_lanzamiento  numero_juegos_por_a√±o
1              1980                      9
2              1981                     46
3              1982                     36
4              1983                     17
5              1984                     14
6              1985                     14
7              1986                     21
8              1987                     16
9              1988                     15
10             1989                     17
11             1990                     16
12             1991                     41
13             1992                     43
14             1993                     62
15             1994                    121
16             1995                    219
17             1996                    263
18             1997                    289
19             1998                    379
20             1999                    338
21             2000                    350
22             2001                    482
23             2002                    829
24             2003                    775
25             2004                    762
26             2005                    939
27             2006                   1006
28             2007                   1197
29             2008                   1427
30             2009                   1426
31             2010                   1255
32             2011                   1136
33             2012                    653
34             2013                    544
35             2014                    581
36             2015                    606
37             2016                    502

### Ventas por plataforma

In [146]:
#Creamos una columna con las ventas totales
df["total_sales"] = df[["na_sales","eu_sales","jp_sales" ,"other_sales"]].sum(axis=1)

#agrupamos los juegos lanzados por plataforma y sumamos sus ventas
ventas_por_plataforma = df.groupby("platform")["total_sales"].sum().reset_index()

#Ordenamos de mayor a menor
ventas_por_plataforma = ventas_por_plataforma.sort_values(by='total_sales', ascending=False).reset_index(drop=True)

#imprimimos las primeras 5 filas top
print(ventas_por_plataforma.head(5))

  platform  total_sales
0      PS2      1255.77
1     X360       971.42
2      PS3       939.65
3      Wii       907.51
4       DS       806.12

Graficamos las 5 plataformas con mas ventas

plataforma PS2

In [159]:
print(df.head())

                       name platform  year_of_release         genre  na_sales  \
0                Wii Sports      Wii             2006        Sports     41.36
1         Super Mario Bros.      NES             1985      Platform     29.08
2            Mario Kart Wii      Wii             2008        Racing     15.68
3         Wii Sports Resort      Wii             2009        Sports     15.61
4  Pokemon Red/Pokemon Blue       GB             1996  Role-Playing     11.27

   eu_sales  jp_sales  other_sales  critic_score  user_score  \
0     28.96      3.77         8.45          76.0         8.0
1      3.58      6.81         0.77           NaN         NaN
2     12.76      3.79         3.29          82.0         8.3
3     10.93      3.28         2.95          80.0         8.0
4      8.89     10.22         1.00           NaN         NaN

               rating  total_sales
0                   E        82.54
1  rating_desconocido        40.24
2                   E        35.52
3                   E        32.77
4  rating_desconocido        31.38

In [158]:
plt.vilines(x=numero_de_juegos_por_a√±o,ymin=0,ymax=numero_de_juegos_por_a√±o.cantidad_de_videojuegos,alpha=0.5 , linewidth=10, color="green")

NameError: name 'plt' is not defined