In [1]:
import pandas as pd
import numpy as np

In [2]:
#Leemos el archivo games.csv
df = pd.read_csv("games.csv")

#Exploramos informaci√≥n general del df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

In [3]:
#Verificamos si hay valores duplicados
datos_duplicados = df.duplicated().sum()
print(datos_duplicados)

0

In [4]:
#Verificamos si hay valores nulos
datos_nulos = df.isna().sum()
print(datos_nulos)

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
NA_sales              0
EU_sales              0
JP_sales              0
Other_sales           0
Critic_Score       8578
User_Score         6701
Rating             6766
dtype: int64

In [5]:
#Convertimos las columnas en minuscula
df.columns = df.columns.str.lower()
print(df.columns)

Index(['name', 'platform', 'year_of_release', 'genre', 'na_sales', 'eu_sales',
       'jp_sales', 'other_sales', 'critic_score', 'user_score', 'rating'],
      dtype='object')

Trabajemos los valores de la columna

En la columna name

In [6]:
#Rellenamos los valores ausentes
df["name"].fillna("nombres_desconocidos",inplace=True)

/tmp/ipykernel_8295/203579089.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["name"].fillna("nombres_desconocidos",inplace=True)

En la columna year_of_release

In [7]:
#revisamos valores ausentes y convertimos a valor entero
df["year_of_release"] = df["year_of_release"].fillna(0).astype(int)

En la columna genre

In [9]:

#Rellenamos los valores ausentes
df["genre"].fillna("genero_desconocido",inplace=True)

#Visualizamos los valores unicos en genre para verificar el reemplazo
print(df["genre"].unique())

['Sports' 'Platform' 'Racing' 'Role-Playing' 'Puzzle' 'Misc' 'Shooter'
 'Simulation' 'Action' 'Fighting' 'Adventure' 'Strategy'
 'genero_desconocido']

/tmp/ipykernel_8295/87935869.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["genre"].fillna("genero_desconocido",inplace=True)

Trabajemos en las columnas critic_score, user_score y rating

In [10]:
#Rellenamos los valores ausentes en la columna critic_score
df["critic_score"].replace(0, np.nan, inplace=True)

/tmp/ipykernel_8295/47039780.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["critic_score"].replace(0, np.nan, inplace=True)

In [17]:

#Rellenamos los valores ausentes en la columna user_score
df["user_score"].replace("tbd",np.nan,inplace=True)

#Visualizamos valores unicos en la columna user_score
print(df["user_score"].unique())

['8' nan '8.3' '8.5' '6.6' '8.4' '8.6' '7.7' '6.3' '7.4' '8.2' '9' '7.9'
 '8.1' '8.7' '7.1' '3.4' '5.3' '4.8' '3.2' '8.9' '6.4' '7.8' '7.5' '2.6'
 '7.2' '9.2' '7' '7.3' '4.3' '7.6' '5.7' '5' '9.1' '6.5' '8.8' '6.9' '9.4'
 '6.8' '6.1' '6.7' '5.4' '4' '4.9' '4.5' '9.3' '6.2' '4.2' '6' '3.7' '4.1'
 '5.8' '5.6' '5.5' '4.4' '4.6' '5.9' '3.9' '3.1' '2.9' '5.2' '3.3' '4.7'
 '5.1' '3.5' '2.5' '1.9' '3' '2.7' '2.2' '2' '9.5' '2.1' '3.6' '2.8' '1.8'
 '3.8' '0' '1.6' '9.6' '2.4' '1.7' '1.1' '0.3' '1.5' '0.7' '1.2' '2.3'
 '0.5' '1.3' '0.2' '0.6' '1.4' '0.9' '1' '9.7']

In [19]:
#convertimos los valores de la columna "user_score" a flotantes
df["user_score"] = df["user_score"].astype("float")

In [21]:
#Visualizamos valores unicos en la columna rating
print(df["rating"].unique())

#Reemplazamos valores ausentes NaN en la colimna rating
df["rating"].fillna("rating_desconocido",inplace=True)

['E' 'rating_desconocido' 'M' 'T' 'E10+' 'K-A' 'AO' 'EC' 'RP']

Imprimimos la informacion general del df para confirmar los cambios correctos

In [23]:
df.info()
datos_nulos = df.isna().sum()
print()
print(datos_nulos)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16715 non-null  object
 1   platform         16715 non-null  object
 2   year_of_release  16715 non-null  int64
 3   genre            16715 non-null  object
 4   na_sales         16715 non-null  float64
 5   eu_sales         16715 non-null  float64
 6   jp_sales         16715 non-null  float64
 7   other_sales      16715 non-null  float64
 8   critic_score     8137 non-null   float64
 9   user_score       7590 non-null   float64
 10  rating           16715 non-null  object
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

name                  0
platform              0
year_of_release       0
genre                 0
na_sales              0
eu_sales              0
jp_sales              0
other_sales           0
critic_score       8578
user_score         9125
rating                0
dtype: int64